.content {
  background-color:rgba(0, 255,255, 0.9) ;
  margin:0 auto;
  margin-bottom: 15px;
  padding: 5px 15px;
  display:block;
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  font_size: 10px;
}

body {
  background: url(http://25.media.tumblr.com/50046a20f58d2ab6b3fcf611a311861a/tumblr_mhgpwyMAQB1qee2r6o3_500.jpg);
}
.logo {
    font-size: 65px;
    color:#fff;
    font-family: serif;
}
