.content {
  background-color:rgba(255, 255,255, 0.9) ;
  margin:0 auto;
  margin-bottom: 15px;
  padding: 5px 15px;
  display:block;
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
}

body {
  background: url(http://designfestival.com/cicada/uploads/nomnomlabs/41/01.png) no-repeat center top fixed;
}
