.content {
  background-color:rgba(0,255,255, 0.9) ;
  margin:0 auto;
  margin-bottom: 15px;
  padding: 5px 15px;
  display:block;
  border-radius:8px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  font_size: 10px;
}

body {
  background: url(http://24.media.tumblr.com/tumblr_lfzlcvT71H1qz6flco1_500.jpg);
}
.logo {
    font-size: 65px;
    color:#fff;
    font-family: serif;
}
